FRONTEND_PORT=8080
APP_PORT=8091
MYSQL_PORT=13306
PG_PORT=15432
PMA_PORT=8899
PGADMIN_PORT=5050

MYSQL_ROOT_PASSWORD=123456
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ai-rag-knowledge

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin

AI_AGENT_STATION_APP_IMAGE=your-registry/ai-agent-station-app:latest

SPRING_AI_OPENAI_BASE_URL=https://api.openai.com
SPRING_AI_OPENAI_API_KEY=sk-your-api-key
OPENAI_CHAT_MODEL=gpt-4.1-mini
